PORT=4000
PGHOST=database-1.cluster-c7ke2sy6it37.ap-south-2.rds.amazonaws.com
PGPORT=5432
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=replace-with-rds-master-password
PGSSLMODE=verify-full
PGSSLROOTCERT=./global-bundle.pem

VITE_API_URL=http://localhost:4000
VITE_USE_MOCK=false
